{% extends 'landing/layouts/base.html' %}
{% load static %}

{% block content %}
    <!-- Start Home Banner Area -->
    <div class="home-banner-area banner-bg banner-9">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner-content mb-30">
                        <h1 class="title mb-20">سلورا دستیار فروش شما در شبکه های اجتماعی</h1>
                        <ul class="info-list list-unstyled text-white mb-20">
                            <li>
                                <i class="fas fa-chevron-circle-left"></i>اتصال به شبکه اجتماعی
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-left"></i>مدیریت محصولات
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-left"></i>مدیریت سفارشات
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-left"></i>ارسال سفارش از طریق پست و تیپاکس
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-left"></i>مدیریت تخفیف
                            </li>
                            <li>
                                <i class="fas fa-chevron-circle-left"></i>درگاه پرداخت مستقیم
                            </li>
                        </ul>
                        <div class="cta-btns">
                            <a href="contact.html" class="btn secondary-btn">ساخت فروشگاه رایگان</a>
                            <a href="https://www.youtube.com/watch?v=QSwvg9Rv2EI" class="btn icon-btn youtube-popup"><i
                                    class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-image image-right mb-30">
                        <img src="{% static 'landing/assets/images/banner/banner-99.png' %}" class="shadow-none"
                             alt="تصویر بنر">
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Shape -->
        <div class="bg-shape">
            <img src="{% static 'landing/assets/images/banner/wave-shape-3.png' %}" alt=" شکل موج">
        </div>
    </div>
    <!-- End Home Banner Area -->

    <!-- Start Features Area -->
    <section id="features" class="main-features-area main-features-3">
        <div class="pt-120 pb-90">
            <div class="container">
                <div class="section-title">
                    <h2 class="title">ویژگی های اصلی سلورا</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon"><i class="fal fa-crop"></i></div>
                            <h3>اتصال به شبکه اجتماعی</h3>
                            <p>فروشگاه اینترنتی شما میتواند به شبکه اجتماعی شما متصل شود و در صورت قرار دادن محصول جدید در شبکه اجتماعی تان به صورت خودکار بر روی فروشگاه اینترنتی شما قرار خواهد گرفت</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon"><i class="fal fa-chart-network"></i></div>
                            <h3>مدیریت سفارشات</h3>
                            <p>مشتریان شما با انتخاب محصولات و قرار دادن آن ها در سبد خرید و اتصال به درگاه پرداخت سفارشات خود را ثبت مینمایند که شما میتوانید این سفارشات از طریق پنل کاربری خود مدیریت نمایید</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon"><i class="fal fa-file-certificate"></i></div>
                            <h3>ارسال سفارشات</h3>
                            <p>سفارشات شما پس از پرداخت توسط خریدارن در پنل کاربری به شما نمایش داده میشود که شما با مشاهده شرکت های ارسال کننده از قبیل پست تیپاکس الوپیک و ... با مقایسه قیمت و زمان ارسال بهترین گذینه را انتخاب نمایید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Divider -->
        <div class="divider">
            <div class="icon"><a href="#services"><i class="fal fa-long-arrow-down"></i></a></i></div>
            <span class="line"></span>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Services Area -->
    <section id="services" class="services-area pt-120 pb-90">
        <div class="container">
            <div class="row align-items-center gx-xl-5">
                <div class="col-lg-6">
                    <div class="content mb-30">
                        <div class="section-title">
                            <h2 class="title">ترکیبی از تمام ابزارهای مربوط به کسب و کار</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                            <a href="404-error.html" class="btn primary-btn primary-btn-8">دانلود افزونه ها</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-purple">
                                <div class="icon"><i class="fal fa-webcam"></i></div>
                                <h3>ویدئو کنفرانس</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-blue mt-30 mb-sm-30">
                                <div class="icon"><i class="fal fa-images"></i></div>
                                <h3>ویرایش عکس</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-green">
                                <div class="icon"><i class="fal fa-phone"></i></div>
                                <h3>برقراری تماس</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="item-single bg-red mt-30 mb-30">
                                <div class="icon"><i class="fal fa-user-edit"></i></div>
                                <h3>استفاده آسان</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Area -->

    <!-- Start Promo Area -->
    <section id="promo" class="promo-area">
        <div class="container">
            <div class="promo pb-90">
                <div class="row align-items-center justify-content-center gx-xl-5">
                    <div class="col-lg-7">
                        <div class="image mb-30">
                            <img src="{% static 'landing/assets/images/promo-1.png' %}" alt="تصویر تبلیغاتی">
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-first">
                        <div class="content mb-30">
                            <h2 class="title mb-30">میتونی به راحتی با بخش ایکامرس کار کنی</h2>
                            <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را
                                می طلبد</p>
                            <a href="contact.html" class="btn primary-btn primary-btn-8">همین الان شروع کن !</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promo pb-90">
                <div class="row align-items-center justify-content-center gx-xl-5">
                    <div class="col-lg-7">
                        <div class="image mb-30">
                            <img src="{% static 'landing/assets/images/promo-2.png' %}" alt="تصویر تبلیغاتی">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="content mb-30">
                            <h2 class="title mb-30">با این اپلیکیشن چه امکانات باحالی رو میتونی داشته باشی ؟</h2>
                            <p class="mb-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را
                                می طلبد</p>
                            <a href="404-error.html" class="btn primary-btn primary-btn-8">امکانات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Promo Area -->

    <!-- Start Integration Area -->
    <section id="integration" class="integration-area integration-5 pt-120 pb-90">
        <div class="container-fluid p-0">
            <div class="row align-items-center justify-content-lg-end">
                <div class="col-lg-3 left-content">
                    <div class="content mb-30">
                        <h2 class="title text-white">چرا باید ما رو انتخاب کنی ؟</h2>
                        <p class="text-white">تیم حرفه ای ما همیشه سعی کرده بهترین وب سایت ها رو طراحی کرده و توسعه بده
                            و در اختیار شما قرار بده ، مهمترین اصل کار ما اینه که یک محصول باکیفیت و کاربردی رو در
                            اختیار مشتریانمون قرار بدیم و حس شیرین رضایت از خرید رو براشون به ارمغان بیاریم.</p>
                        <ul class="info-list list-unstyled text-white mb-30">
                            <li><i class="far fa-check"></i> تضمین ارائه بهترین قیمت و کیفیت</li>
                            <li><i class="far fa-check"></i>امکان استفاده رایگان و آزمایشی محصولات</li>
                            <li><i class="far fa-check"></i>ارائه پلن های قیمتی منعطف و متناسب با هر بودجه ای برای شما
                            </li>
                        </ul>
                        <a href="contact.html" class="btn secondary-btn">بزن بریم !</a>
                        <div class="client">
                            <h6 class="text-white">محمد مصطفوی</h6>
                            <span class="text-white"><i><small>مدیر عامل سامو</small></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 right-content">
                    <div class="image mb-30">
                        <img src="{% static 'landing/assets/images/integration-33.png' %}" alt="تصویر ادغام">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Integration Area -->

    <!-- Start Pricing Plan Area -->
    <section id="pricingPlan" class="pricing-plan-area pricing-plan-4 bg-white pt-120 pb-90">
        <div class="container">
            <div class="section-title">
                <h2 class="title">تعرفه پلن ها</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="item-single mb-30">
                        <div class="top-content">
                            <span class="label">پلن اولیه</span>
                            <h3 class="price">49،000 <small> تومان </small></h3>
                            <span class="date">پرداخت ماهانه</span>
                        </div>
                        <div class="content">
                            <ul class="item-list list-unstyled">
                                <li>اعلانات هوشمند</li>
                                <li>همگام سازی آفلاین</li>
                                <li>پایگاه داده SQL</li>
                                <li>اطلاعات و متون مرتبط</li>
                                <li>پشتیبانی 24/7</li>
                            </ul>
                            <a href="pricing.html" class="btn primary-btn primary-btn-8">انتخاب پلن</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item-single mb-30">
                        <div class="top-content">
                            <span class="label">پلن استاندارد</span>
                            <h3 class="price">59،000 <small> تومان </small></h3>
                            <span class="date">پرداخت ماهانه</span>
                        </div>
                        <div class="content">
                            <ul class="item-list list-unstyled">
                                <li>اعلانات هوشمند</li>
                                <li>همگام سازی آفلاین</li>
                                <li>پایگاه داده SQL</li>
                                <li>اطلاعات و متون مرتبط</li>
                                <li>پشتیبانی 24/7</li>
                            </ul>
                            <a href="pricing.html" class="btn primary-btn primary-btn-8">انتخاب پلن</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="item-single mb-30">
                        <div class="top-content">
                            <span class="label">پلن پیشرفته</span>
                            <h3 class="price">69،000 <small> تومان </small></h3>
                            <span class="date">پرداخت ماهانه</span>
                        </div>
                        <div class="content">
                            <ul class="item-list list-unstyled">
                                <li>اعلانات هوشمند</li>
                                <li>همگام سازی آفلاین</li>
                                <li>پایگاه داده SQL</li>
                                <li>اطلاعات و متون مرتبط</li>
                                <li>پشتیبانی 24/7</li>
                            </ul>
                            <a href="pricing.html" class="btn primary-btn primary-btn-8">انتخاب پلن</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing Plan Area -->

    <!-- Start Feedback Area -->
    <section id="feedback" class="feedback-area feedback-4 ptb-120">
        <div class="container">
            <div class="section-top">
                <div class="section-title">
                    <h2 class="title">از زبان کاربران شرکت سامو</h2>
                </div>
                <div id="feedbackNav" class="custom-owl-nav"></div>
            </div>
            <div class="feedback-slider-4 owl-carousel">
                <div class="slider-item">
                    <div class="slider-item-inner">
                        <div class="content">
                            <p class="text">
                                امروز مشکل SSL سایتم حل شد و خواستم از زحمات دوبارۀ شما عزیزان تشکر کنم. حوصله، دقت و
                                پیگیری شما مثال زدنی هست. به تیم سامو تبریک میگم که این دوستان و کارشناسان دلسوز و
                                زحمتکش رو گرد هم آورده. موفق باشید
                            </p>
                            <h5 class="name">آرش بهرامی</h5>
                            <span class="designation">طراح وب</span>
                        </div>
                        <div class="image">
                            <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                                <img class="lazyload lazy-image"
                                     src="{% static 'landing/assets/images/placeholder.png' %}"
                                     data-src="{% static 'landing/assets/images/client/client-6.jpg' %}"
                                     alt="تصویر شخص">
                            </div>
                        </div>
                        <span class="quote"><i class="fas fa-quote-left"></i></span>
                    </div>
                </div> <!-- Slider Item-->
                <div class="slider-item">
                    <div class="slider-item-inner">
                        <div class="content">
                            <p class="text">
                                میتونم بگم پشتیبانی شما وافعا فوق العاده اس ! من یک قالبی رو ازتون خریده بودم و برای نصب
                                به مشکل برخوردم ، دوستان پشتیبانی کاملا دقیق و اصولی مشکل رو حل کردن و به سرعت قالب رو
                                برام نصب و راه اندازی کردن . </p>
                            <h5 class="name">آیدا محسنی</h5>
                            <span class="designation">طراح UI/UX</span>
                        </div>
                        <div class="image">
                            <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                                <img class="lazyload lazy-image"
                                     src="{% static 'landing/assets/images/placeholder.png' %}"
                                     data-src="{% static 'landing/assets/images/client/client-7.jpg' %}"
                                     alt="تصویر شخص">
                            </div>
                        </div>
                        <span class="quote"><i class="fas fa-quote-left"></i></span>
                    </div>
                </div> <!-- Slider Item-->
                <div class="slider-item">
                    <div class="slider-item-inner">
                        <div class="content">
                            <p class="text">
                                من برای خرید قالب مورد نیازم خیلی شک داشتم و نمیدونستم از چه سایتی قالب آماده بخرم که
                                کیفیت محصول و پشتیبانی همزمان خوب و قابل قبول باشه ، بعد از پرس وجوهای زیاد سایت شما رو
                                انتخاب کردم و کاملا راضی و خوشحالم</p>
                            <h5 class="name">امید کبیری</h5>
                            <span class="designation">طراح وب</span>
                        </div>
                        <div class="image">
                            <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                                <img class="lazyload lazy-image"
                                     src="{% static 'landing/assets/images/placeholder.png' %}"
                                     data-src="{% static 'landing/assets/images/client/client-8.jpg' %}"
                                     alt="تصویر شخص">
                            </div>
                        </div>
                        <span class="quote"><i class="fas fa-quote-left"></i></span>
                    </div>
                </div> <!-- Slider Item-->
            </div>
        </div>
    </section>
    <!-- End Feedback Area -->

    <!-- Start Newsletter Area -->
    <div id="newsLetterArea" class="newsletter-area newsletter-3 ptb-120">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="content mb-50 text-center">
                        <h2>برای دریافت آخرین بروز رسانی ها با ما در ارتباط باش</h2>
                    </div>
                    <form class="newsletter-form" id="newsletterForm">
                        <div class="input-group">
                            <input class="form-control" placeholder="لطفا پست الکترونیک خودت رو وارد کن" type="text"
                                   name="EMAIL" required=""
                                   autocomplete="off">
                            <button class="btn primary-btn primary-btn-8" type="submit">
                                عضویت
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Newsletter Area -->
{% endblock content %}